.boite_sujets{
    /* display: flex; */
    /* display: block; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between ; */
    display: grid;
    /* align-items: center; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr;
    grid-gap: 10px;
    width: 70%;
    padding: 20px;
    margin: auto;
    background-color: burlywood;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 7px 7px 3px 3px grey;
    height: fit-content;
    text-align: center;
    border-radius: 10px ;
    color: black;
    text-decoration: none;
}

.boite_sujets:hover{
    box-shadow: 4px 4px 2px 2px grey;
}

.boite_sujets:active{
    box-shadow: 4px 4px 2px 2px rgb(108, 108, 108);
}

.Titre_England{
    grid-column: 1/3;
    grid-row: 1/2;
}

.Texte_England{
    /* border-style: dashed; */
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: justify;
    font-size: large;
    /* transform: translateY(30%); */
}

.Bristol_Bridge{
    border-radius: 8px;
    /* border-style: dashed; */
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(photos/suspension_bridge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Bristol_docks{
    border-radius: 8px;
    /* border-style: dashed; */
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(photos/Bristol_docks.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Clifton{
    border-radius: 8px;
    /* border-style: dashed; */
    grid-column: 2/3;
    grid-row: 3/4;
    background-image: url(photos/Clifton.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Chiesa_Bassano{
    border-radius: 8px;
    /* border-style: dashed; */
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(photos/Chiesa-San-Giovanni-Battista-Bassano-del-Grappa-Venetien-Italien-Foto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Palais_Venise{
    border-radius: 8px;
    /* border-style: dashed; */
    grid-column: 2/3;
    grid-row: 3/4;
    background-image: url(photos/Palais_des_Doges.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.reference{
    grid-column: 2/3;
    /* border-style: dashed; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-column-gap: 15px;
}

.nom_ref{
    /* border-style: dashed; */
    grid-column: 1/5;
    grid-row: 1/2;
}

.ref_england{
    /* border-style: dashed; */
    grid-column: 1/2;
    grid-row: 2/3;
}

.ref_italy{
    /* border-style: dashed; */
    grid-column: 2/3;
    grid-row: 2/3;
}

.map{
    display: block;
    margin: auto;
    width: 100%;
}

.image_loc_England{
    width: 1.8%;
    position: absolute; 
    top: 39%; 
    left: 47%; 
    transform: translate(-50%, -50%);
}

.image_loc_England:hover{
    width: 2.5%;
}

.image_loc_Italy{
    width: 1.8%;
    position: absolute; 
    top: 43%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.image_loc_Italy:hover{
    width: 2.5%;
}

.image_loc_Canada{
    width: 1.8%;
    position: absolute; 
    top: 33%; 
    left: 16%; 
    transform: translate(-50%, -50%);
}

.image_loc_Canada:hover{
    width: 2.5%;
}

.image_loc_Germany{
    width: 1.8%;
    position: absolute; 
    top: 39%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.image_loc_Germany:hover{
    width: 2.5%;
}