body {
    background-color: rgb(184, 184, 184);
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 20px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}

.Menu {
    color: white;
    text-decoration: none;
}

.Menu:hover {
    color: grey;
    text-decoration: underline;
}

.Menu:active {
    color: rgb(86, 86, 86);
}

.boite_intro {
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between ; */
    width: 70%;
    min-width: min-content;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 5fr;
    padding: 20px;
    margin: auto;
    background-color: burlywood ;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 7px 7px 3px 3px grey;
    height: fit-content;
    text-align: center;
    border-radius: 10px ;
}

.image_intro{
    padding: 150px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-image: url(pexels-craigmdennis-57007.jpg);
    background-size: cover;
    background-position: center;
}

.circular_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    background-image: url(photo_perso.jpg);
    background-size: 150%;
    background-position-x: -30px;
    background-position-y: -30px;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    margin-bottom: -10px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 10px;
    justify-content: space-around;
}

.linkedin{
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-image: url(linkedin.png);
    background-size: 100%;
}

.paragraphe_intro{
    /* border-style: dashed; */
    min-width: 200px;
    text-align: left;
    font-size: x-large;
    text-align: justify;
}

.CV{
    color: black;
    text-decoration: none;
}

.titre{
    text-align: center;
    font-size: 5cap;
    text-decoration: underline;
}

.boite_sujets{
    /* display: flex; */
    /* display: block; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between ; */
    display: grid;
    /* align-items: center; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
    grid-gap: 10px;
    width: 70%;
    padding: 20px;
    margin: auto;
    background-color: burlywood;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 7px 7px 3px 3px grey;
    height: fit-content;
    text-align: center;
    border-radius: 10px ;
    color: black;
    text-decoration: none;
}*

.boite_sujets:hover{
    box-shadow: 4px 4px 2px 2px grey;
}

.boite_sujets:active{
    box-shadow: 4px 4px 2px 2px rgb(108, 108, 108);
    
}

.Titre_England{
    grid-column: 1/3;
    grid-row: 1/2;
}

.Texte_England{
    /* border-style: dashed; */
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: justify;
    font-size: large;
    /* transform: translateY(30%); */
}

.Bristol_Bridge{
    border-radius: 8px;
    /* border-style: dashed; */
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(suspension\ bridge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Bristol_docks{
    border-radius: 8px;
    /* border-style: dashed; */
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(Bristol_docks.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Clifton{
    border-radius: 8px;
    /* border-style: dashed; */
    grid-column: 2/3;
    grid-row: 3/4;
    background-image: url(Clifton.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.appartenance{
    /* border-style: dashed; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    grid-column: 1/3;
    grid-row: 4/5;
}

.lien{
    color: gray;
}
