.boite_intro {
    width: 80% ;
    min-width: min-content;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 5fr;
    padding: 20px;
    margin: auto;
    background-color: rgb(70, 70, 70) ;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 7px 7px 3px 3px grey;
    height: fit-content;
    text-align: center;
    border-radius: 10px ;
}

.image_intro{
    padding: 150px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-image: url(pexels-craigmdennis-57007.jpg);
    background-size: cover;
    background-position: center;
}

.circular_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    background-image: url(photo_perso.jpg);
    background-size: 150%;
    background-position-x: -30px;
    background-position-y: -30px;
}

.paragraphe_intro{
    /* border-style: dashed; */
    min-width: 200px;
    color : rgb(220, 220, 220);
    text-align: left;
    font-size: large; 
    text-align: justify;
}

.reference{
    grid-column: 2/3;
}

.video{
    display: block;
    margin: auto;
    padding: 10px;
}



/*************MENU SLIDE*******************/
/*
nav ul{
list-style-type: none;
padding-left:0;	
margin-top: 6rem;
	
}
	
nav ul li{margin:1rem}	

nav a {
font-size:1.25rem;
color:white;
opacity: 0;
visibility: hidden;

}
	
.hamburger:checked+label~ nav{ 
	
transform: unset; /*on revient à l'état initial*/
		
/* }

.hamburger:checked+label~ nav a {
 
visibility: visible;
opacity: 1;
} */

/*************MENU SLIDE*******************/


/*************Accessibilité*******************/
/* .hamburger:focus-visible~label,
nav a:focus-visible,
nav a:focus {

  outline: 2px solid #6753ea;
  outline-offset: 4px;
}
	
.hamburger:not(:focus-visible)~label,nav a:not(:focus):focus-visible{
	
    outline: none;
  }	
	
.hamburger:not(:focus-visible):focus~label{
	
	box-shadow: 0 0 0 4px hsl(248, 78%, 58%)
	
	}
	
@media (prefers-reduced-motion: no-preference) {
.hamburger+label span {transition: background 10ms 300ms;}
.hamburger+label span::before, 
.hamburger+label span::after{transition: top 300ms 350ms, transform 300ms 50ms;}
.hamburger:checked+label span::after,
.hamburger:checked+label span::before {transition: top 300ms 50ms, transform 300ms 350ms;}	
	
.hamburger:focus-visible~label,nav a:focus-visible,
nav a:focus  {transition: outline-offset .25s ease;}
	
nav{transition: transform 0.5s;}
nav a{transition: visibility 500ms,opacity 500ms 300ms;}
	
	
	} */