.paragraphe_intro_Career_Development{
    font-size: x-large;
}

.Docs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    margin-bottom: 20px;
}

.CV{
    /* border-style: dashed; */
    grid-column: 1/2;
    background-color: burlywood;
    border-radius: 10px;
    padding: 10px;
}

.School_Certificates{
    /* border-style: dashed; */
    grid-column: 2/3;
    background-color: burlywood;
    border-radius: 10px;
    padding: 10px;
}

.Medical_Certificates{
    /* border-style: dashed; */
    grid-column: 3/4;
    background-color: burlywood;
    border-radius: 10px;
    padding: 10px;
}

.CV_lien{
    color: black;
    text-decoration: none;
}

.CV_lien:hover{
    color: rgb(66, 65, 65);
    text-decoration: underline;
}

.CV_lien:active{
    color: black;
    text-decoration: underline;
}